<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="/var/log/sigkill"/>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [%X{channel:-APP}] [%X{traceId:-no-trace}] [%X{httpMethod:-no-method}] [%X{path:-no-path}] [%X{stompCommand:-no-stomp}] [%X{destination:-no-destination}] [%X{sessionId:-no-session}] %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="CHANNEL_SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="ch.qos.logback.classic.sift.MDCBasedDiscriminator">
            <key>channel</key>
            <defaultValue>APP</defaultValue>
        </discriminator>
        <sift>
            <appender name="CHANNEL-${channel}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_PATH}/${channel}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${LOG_PATH}/${channel}.%d{yyyy-MM-dd}.log</fileNamePattern>
                    <maxHistory>7</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>${LOG_PATTERN}</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="CHANNEL_SIFT"/>
    </root>
</configuration>
